@page
@model SelfServiceHrProject.Pages.LeaveReason.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h3>Details</h3>

<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveReasons.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LeaveReasons.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveReasons.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LeaveReasons.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveReasons.Days)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LeaveReasons.Days)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index" class="btn btn-outline-primary">Back</a>
</div>
