@page
@model SelfServiceHrProject.Pages.Adresses.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h3>Are you sure you want to delete this?</h3>

<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.LocalAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.LocalAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.OtherAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.OtherAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.fullAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.fullAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.Employee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.Employee.FullName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Address.ID" />
        <input type="submit" value="Delete" class="btn btn-outline-danger" />
        <a asp-page="./Index" class="btn btn-outline-primary">Back</a>
    </form>
</div>
