@page
@model SelfServiceHrProject.Pages.Adresses.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h3>Details about address</h3>

<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.LocalAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.LocalAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.OtherAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.OtherAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.fullAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.fullAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.Employee.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.Employee.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index" class="btn btn-outline-primary">Back</a>
</div>
